#mainmenu {
    background-image: url('../assets/main_menu.bmp');
    height: 100vh;
    background-repeat: no-repeat;
}

#mainmenu > ion-row {
    height: 100%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.label {
    display: flex;
}

.labels-container .top {
    position: absolute;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.blinkImage:hover .blink {
    animation: blink normal 0.3s infinite ease-in-out;
}

@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0.7;}
    100% {opacity:1;}
} 

.disabled {
    opacity: 0.5;
}

.volumebar {
    position:relative;
}

.volumebar1 {
    position:absolute;
    cursor: pointer;
}

.quitconfirmation img {
    max-width: initial;
}

div[class*="_header"]:first-child {
    padding-bottom: 7%;
}
