#mainmenu {
   background-image: url('../assets/main_menu.bmp');
   height: 100vh;
   background-repeat: no-repeat;
}

.label {
   display: flex;
   padding-top: 10px;
  //  margin: 0 auto;
  margin-left: 30%;
}

.center {
   display: grid;
}

.labels-container{
   position: relative;
}

.labels-container .top {
  position: absolute;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.blinkImage:hover .blink {
  animation: blink normal 0.3s infinite ease-in-out;
}

.menu {
  position: relative;
  top: 15%;
}

@keyframes blink {
  0% {opacity:1;}
  50% {opacity:0.7;}
  100% {opacity:1;}
} 

.disabled {
  opacity: 0.5;
}